_site/*
_theme_packages/*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc
/_backup/categories.html
/_backup/pages.html
/_layouts/default.html.bk
/_layouts/post.html.bk
/css/style.css
/_posts/2013-03-20-knitr-jags.Rmd
/_posts/2013-03-20-knitr-jags.html
/_posts/.Rhistory
/screenshot.png
